@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;

  --shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.8);
  --shadow-accent: 0 2px 50px -1px rgba(0, 0, 0, 0.8);
  --color-primary: #1d5d43;
}

body {
  display: block;
  background: #fff;
  font-family: 'Inter', sans-serif;
}

/* Typography */
h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  color: var(--color-primary);
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

/* Sections */
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-nav-desktop {
  display: none;
}

.header-nav-phone {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-mobile {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #3a4a42;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

.menu-btn,
.header-nav-mobile > button {
  background-color: white;
}

.header-nav-mobile > button {
  margin: 0.5em 0.5em;
  align-self: flex-end;
  cursor: pointer;
}

.header-nav-mobile > img {
  width: 2em;
}

.categorie-about-myself li {
  margin: 0 8px;
}

.social-media li {
  margin: 0 8px;
}

.categorie-tags li {
  background: white;
  color: var(--color-primary);
  font-size: 12px;
  font-weight: 600;
  padding: 1em 0.5em;
  margin: 1em 0.5em;
  border-radius: 5px;
}

.card-categories li {
  background: #ebf0ee;
  color: #4a3a3f;
  font-size: 12px;
  font-weight: 600;
  padding: 1em 0.5em;
  margin: 1em 0.5em;
  border-radius: 5px;
}

.header-nav-mobile > ul > li {
  margin-left: 28px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  color: #42526e;
  font-size: 20px;
}

footer > a {
  margin-top: 1.5em;
}

.header-nav-mobile > ul > li > a {
  font-size: 24px;
  font-weight: 600;
  color: #3a4a42;
  cursor: pointer;
}

.link-portfolio:hover,
.link-about:hover,
.link-contact:hover {
  color: var(--color-primary);
}

.menu-btn.hidden {
  display: none;
}

.header-nav-mobile.hidden {
  display: none;
}

.header-logo {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.intro {
  background: #fff url(./assets/header-illsutration-mobile.svg) no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.intro h1:first-child {
  margin-top: 1.5em;
}

.intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 2em 24px;
  text-align: center;
  color: #172b4d;
}

.intro button {
  background: none;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 170px;
}

@media (min-width: 992px) {
  .header-nav-phone {
    display: none;
  }

  .header-title {
    padding-top: 3em;
  }

  .header-nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1em;
    margin: 0;
  }

  .header-nav-desktop li {
    list-style: none;
    padding: 0;
    margin: 1em;
    font-size: 14px;
    font-weight: bold;
    color: #42526e;
    cursor: pointer;
  }

  .intro {
    background: #fff url(./assets/Header-llustration-desktop.svg) no-repeat;
    background-size: 100%;
    padding-bottom: 8em;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding-bottom: 15em;
  }
}

/* Works */
.works {
  margin: 0 26px;
}

.works h2 {
  height: 125px;
  box-sizing: content-box;
  background-image: url(./indicator.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
}

.cards-container {
  margin: 60px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 24px;
}

.card {
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 8px;
  height: 474px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.card-caption {
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 11px;
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.card-categories {
  margin: 16px 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-categories li:hover {
  box-shadow: 0 10px 20px 0 #ebf0ee;
}

.primary-btn {
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  background-color: #1d6346;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin: 18px 0;
  cursor: pointer;
}

.primary-btn:hover {
  box-shadow: 0 8px 10px 0 #36b37f3d;
}

.card-caption .primary-btn {
  align-self: center;
}

.popup-title {
  font-size: 32px;
}

.popup-hidden {
  visibility: hidden;
}

#popup {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(193, 199, 208, 0.8);
  backdrop-filter: blur(2px);
  overflow: scroll;
}

#popup .inner-popup {
  position: relative;
  margin: 20px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
}

.about-myself p {
  font-size: 20px;
  color: #42526e;
}

#popup p {
  font-size: 16px;
}

#popup picture * {
  width: 100%;
}

#popup .popup-buttons {
  display: flex;
  justify-content: space-around;
  gap: 12px;
}

#popup .popup-buttons a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#popup .close-popup {
  position: absolute;
  top: 2%;
  right: 9%;
  width: 8%;
  height: 8%;
  cursor: pointer;
}

#popup .close-popup-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    transition: box-shadow 0.5s;
  }

  .primary-btn:hover {
    transform: scale(1.05);
    transition: transform 0.7s ease-in-out;
  }

  @keyframes scaleout {
    from {
      transform: scale(1.7);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes appearText {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .works {
    margin: 102px auto;
    width: 84%;
  }

  .works h2 {
    height: auto;
    background-image: none;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #popup .inner-popup {
    position: relative;
    width: 60%;
    margin: 4rem auto;
    border-radius: 8px;
    padding: 78px 24px 24px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 60% 10% 10% 10%;
    grid-template-areas:
      "picture picture picture picture"
      "title title buttons buttons"
      "techs techs techs ."
      "p p p p";
    justify-items: stretch;
    row-gap: 6px;
  }

  #popup .close-popup {
    display: none;
  }

  #popup .close-popup-desktop {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }

  .inner-popup picture {
    overflow: hidden;
    border-radius: 8px;
    grid-area: picture;
  }

  .inner-popup .popup-title {
    grid-area: title;
    align-self: center;
  }

  .inner-popup p {
    grid-area: p;
  }

  .inner-popup .popup-buttons {
    grid-area: buttons;
  }

  .inner-popup .popup-technologies {
    grid-area: techs;
    justify-self: start;
  }
}

@media screen and (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

/* About Section */
.about-myself {
  margin-top: 2em;

  /* prettier-ignore */
  background: url(./assets/illustration_1-about_me-mobile.svg) no-repeat 100% 0%, url(./assets/illustration_2-about_me_mobile.svg) no-repeat 0 300px;
  text-align: center;
  padding: 2em;
}

.categorie-about-myself {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card-categorie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-bottom: 2em;
  height: 400px;
  width: 327px;
  background: #ebf0ee;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

.categorie-tags {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.categorie-title {
  font-size: 24px;
  color: #344563;
}

.categorie-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  /* prettier-ignore */
  .about-myself {
    background: url(./assets/about_me_desktop_left.svg) no-repeat 0% 20%, url(./assets/about_me_desktop_rigth.svg) no-repeat 100% 0%;
    background-size: 13vw;
  }
}

@media (min-width: 768px) {
  .categorie-about-myself {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
  }
}

/* Footer section */
.footer-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* prettier-ignore */
  background: url(./assets/illustration-contact-form.svg) no-repeat 100% 90%;
  padding: 2em 5em;
}

form {
  margin-top: 2em;
}

.input-full-name {
  display: none;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-fields {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

input,
textarea {
  width: 327px;
  padding: 1em;
  margin: 1em 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #091e42;
}

input:valid,
textarea:valid {
  border: 1px solid #60c095;
  background: #fff;
}

footer::after {
  content: '';
  height: 4px;
  width: 150px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 80px;
  z-index: -1;
  background: #172b4d;
  border-radius: 8px;
}

@media (min-width: 768px) {
  html,
  body {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  footer > a {
    display: none;
  }

  footer::after {
    content: none;
  }

  .footer-container {
    margin-bottom: 0;
    padding-bottom: 0;

    /* prettier-ignore */
    background: url(./assets/illustration-1-contact-form-desktop.svg) no-repeat 0% 90%, url(./assets/illustration-2-contact-form-desktop.svg) no-repeat 30% 90%, url(./assets/illustratoin-3-contact-form-desktop.svg) no-repeat 100% 90%;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .input-name {
    display: none;
  }

  .input-full-name {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .footer-container > .social-media {
    margin-top: 18em;
  }

  .input-full-name,
  .input-email,
  textarea {
    min-width: 327px;
    width: calc(95vw - 684px);
  }

  textarea {
    height: 114px;
  }

  .input-full-name input {
    max-width: 48%;
    min-width: 48%;
    width: inherit;
  }

  .submit-button {
    align-self: flex-start;
  }
}
